<!--ILIA MATROSOV-->
<!--2016-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&subset=cyrillic,cyrillic-ext" rel="stylesheet">

</head>
<body>
    <div id="calculator">

        <h1 class="page-title">Если бы на прошлой неделе вы инвестировали&nbsp;в&nbsp;ПАММ-счет успешного управляющего</h1>
        <div id="pamm-calculator-first" class="pamm-calculator">
            <div class="p-calc__container p-calc__container--not-loaded">
                <div class="p-calc__names-table">
                    <span class="names-table__head">
                            <span class="names-table__left-column">№ счета</span>
                            <span>Управляющий</span>
                    </span>
                    <ul class="names-table__body">
                    </ul>
                </div>
                <div class="p-calc__slider-box">
                    <div class="slider-box__slider">
                        <div class="slider__bubble">1 000 000 $</div>

                        <div class="slider__body">
                            <div class="slider__body-drag-area"></div>
                        </div>
                        <div class="slider__progress"></div>
                        <div class="slider__thumb"></div>
                    </div>

                    <div class="slider-box__deposit-result">
                        <div>

                            <div class="deposit-result__text">Сегодня ваш депозит бы составил</div>
                            <div id="day-profit" class="deposit-result__value">1 265 $</div>
                        </div>
                        <div>
                            <div class="deposit-result__text">За год при повторении вклада, заработали бы</div>
                            <div id="year-profit" class="deposit-result__value">27 432 $</div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        </div>
    <!--<script type="text/template" id="template&#45;&#45;managers-list">-->
        <!--<ul>-->
            <!--<% managers.forEach(function(manager) { %>-->
            <!--<li class="names-table__row">-->
                <!--<span class="names-table__left-column">-->
                    <!--<span class="names-table__number"><%-manager:name%></span>-->
                <!--</span>-->
                <!--<span><%-manager:account%></span>-->
            <!--</li>-->
            <!--<% }); %>-->
        <!--</ul>-->
    <!--</script>-->
    <script type="text/template" id="template--managers-list">
            <li class="names-table__row" data-profit="<%- profit %>" data-manager-number="<%- number %>">
                <span class="names-table__left-column">
                    <span class="names-table__number"><%- account %></span>
                </span>
                <span><%- name %></span>
            </li>
    </script>

    <script type="text/javascript" src="scripts/ajax-utils.js"></script>
    <script type="text/javascript" src="scripts/lodash.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
</body>
</html>