/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  height: 100%;
  background: #001e4e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #001e4e 0%, #0068b6 50%, #001e4e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #001e4e 0%, #0068b6 50%, #001e4e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #001e4e 0%, #0068b6 50%, #001e4e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e4e', endColorstr='#001e4e',GradientType=0 );
  /* IE6-9 */
  background-repeat: no-repeat; }

body {
  font-family: "Open Sans", "Tahoma", sans-serif;
  padding-top: 135px;
  background-image: url("../images/background.png");
  background-repeat: repeat-x;
  background-position: bottom; }

#calculator {
  margin: auto;
  width: 610px; }

.page-title {
  font-size: 24px;
  color: #99ca3d;
  font-weight: 100;
  margin-bottom: 28px;
  padding-left: 5px; }

.pamm-calculator {
  width: 610px;
  color: white;
  margin: auto;
  border: 1px solid #0185e8;
  background-color: rgba(0, 32, 62, 0.45);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 26px 34px 10px 26px;
  box-sizing: border-box;
  position: relative;
  transition-duration: .5s; }

.pamm-calculator::before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  top: 50px;
  bottom: 0;
  left: 20px;
  right: 20px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  clip: rect(170px, 600px, 350px, 10px); }

.p-calc__container {
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -moz-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -ms-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -o-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  opacity: 1;
  position: relative; }

.p-calc__container--not-loaded {
  opacity: 0; }

.pamm-calculator-loading {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #0185e8;
  position: absolute;
  z-index: 99;
  text-align: center;
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -moz-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -ms-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -o-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  opacity: 0; }

.p-calc__names-table {
  width: 185px;
  float: left; }

.p-calc__slider-box {
  margin-left: 203px; }

.names-table__head {
  font-size: 10px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  display: inline-block;
  position: relative; }

.names-table__head::after {
  content: '';
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 0px -14px;
  margin-left: 150px;
  position: absolute;
  top: -20px;
  left: 0;
  width: 60px;
  height: 300px;
  display: inline-block; }

.names-table__row {
  font-size: 14px;
  display: inline-block;
  padding: 6px 10px 4px;
  margin: 0 0 3px -10px;
  cursor: pointer; }

.names-table__row-active {
  border-radius: 4px;
  background-color: #66ccff;
  color: black; }

.names-table__row-active .names-table__number {
  border-color: transparent; }

.names-table__row:hover:not(.names-table__row-active) {
  border-radius: 4px;
  background-color: rgba(102, 204, 255, 0.2); }

.names-table__left-column {
  width: 70px;
  display: inline-block; }

.names-table__number {
  border-bottom: 1px dashed white;
  display: inline-block; }

.slider-box__slider {
  position: relative;
  margin-bottom: 24px; }

.slider__bubble {
  padding: 5px 9px;
  display: inline-block;
  color: black;
  font-weight: bold;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c9c9c9+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #c9c9c9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #c9c9c9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #c9c9c9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=0 );
  /* IE6-9 */
  position: relative;
  margin-bottom: 11px;
  left: 100px; }

.slider__bubble::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #c9c9c9 transparent transparent transparent;
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  transition-duration: .5s; }

.slider__body {
  width: 340px;
  height: 6px;
  border: 1px solid #92b6ce;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f5a65+0,a5b2c2+100 */
  background: #3f5a65;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3f5a65 0%, #a5b2c2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3f5a65 0%, #a5b2c2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3f5a65 0%, #a5b2c2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f5a65', endColorstr='#a5b2c2', GradientType=0);
  /* IE6-9 */
  position: relative; }

.slider__body-drag-area {
  width: 100%;
  height: 50px;
  background-color: transparent;
  position: relative;
  bottom: 30px; }

.slider__progress {
  height: 6px;
  position: relative;
  bottom: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 150px;
  border: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcf0d+8,ffefae+18,ffefae+41,ffcf0d+51,ff9f00+96 */
  background: #ffcf0d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffcf0d 8%, #ffefae 18%, #ffefae 41%, #ffcf0d 51%, #ff9f00 96%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffcf0d 8%, #ffefae 18%, #ffefae 41%, #ffcf0d 51%, #ff9f00 96%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffcf0d 8%, #ffefae 18%, #ffefae 41%, #ffcf0d 51%, #ff9f00 96%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcf0d', endColorstr='#ff9f00',GradientType=0 );
  /* IE6-9 */ }

.slider__thumb {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e90f2+0,15599b+100 */
  background: #2e90f2;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #2e90f2 0%, #15599b 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #2e90f2 0%, #15599b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #2e90f2 0%, #15599b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e90f2', endColorstr='#15599b', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  position: absolute;
  bottom: 2px;
  left: 145px; }

.slider-box__deposit-result {
  overflow: auto; }

.deposit-result__text {
  width: 150px;
  float: left;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 32px;
  color: #66ccff;
  clear: left; }

.deposit-result__value {
  font-size: 32px;
  font-weight: bold;
  float: right; }

/*# sourceMappingURL=style.css.map */
